/auto-save-list/
/ac-comphist.dat
/.emacs.desktop
/.emacs.desktop.lock
/TAGS
/eshell/history
/tramp
/recentf
/eshell/lastdir
/eshell/z
/cscope.files
/cscope.out
/lisp/cscope.files
/url/cache/*
/eww-bookmarks
